.project__layout {
  .leftbar {
    height: 100%;
    width: rem(300px);
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: rem(16px);
    padding-top: rem(16px);
  }
  //Container

  .rightbar {
    height: 100%;
    width: rem(300px);
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
  }
}
