/* Error: expected "{".
 *    ,
 * 26 | >>>>>>> a19ee394c71a2537123e78905888fac8cf83859f
 *    |                                                 ^
 *    '
 *   public\styles\sass\themes\_default.scss 26:49  @import
 *   public\styles\sass\global.scss 3:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 26 \2502  >>>>>>> a19ee394c71a2537123e78905888fac8cf83859f\d\a    \2502                                                  ^\a    \2575 \a   public\\styles\\sass\\themes\\_default.scss 26:49  @import\a   public\\styles\\sass\\global.scss 3:9             root stylesheet';
}
