/**
*
* Testing
*
**/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.color-edit {
  color: rgb(243, 87, 15);
}

.color-add {
  color: #4793ff;
}

.color-delete {
  color: rgb(225, 66, 66);
}

.color-success {
  color: rgb(23, 142, 33);
}

.btn-primary {
  background-color: #4793ff;
  border-color: #4793ff;
}

.btn-primary:hover {
  background-color: #1475ff;
  border-color: #1475ff;
}

.btn-primary:active {
  background-color: #005de0;
  border-color: #005de0;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(71, 147, 255, 0.5);
}

.btn-danger {
  background-color: rgb(225, 66, 66);
  border-color: rgb(225, 66, 66);
  color: white;
}

.btn-danger:hover {
  background-color: #cf2121;
  border-color: #cf2121;
}

.btn-danger:active {
  background-color: #a31a1a;
  border-color: #a31a1a;
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 66, 66, 0.5);
}

.btn-warning {
  background-color: rgb(243, 87, 15);
  border-color: rgb(243, 87, 15);
}

.btn-warning:hover {
  background-color: #c5450a;
  border-color: #c5450a;
}

.btn-warning:active {
  background-color: #953407;
  border-color: #953407;
}

.btn-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(243, 87, 15, 0.5);
}

.btn-success {
  background-color: rgb(0, 200, 83);
  border-color: rgb(0, 200, 83);
}

.btn-success:hover {
  background-color: #00953e;
  border-color: #00953e;
}

.btn-success:active {
  background-color: #006229;
  border-color: #006229;
}

.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 83, 0.5);
}

.btn-info {
  background-color: rgb(0, 123, 255);
  border-color: rgb(0, 123, 255);
}

.btn-info:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.btn-info:active {
  background-color: #004a99;
  border-color: #004a99;
}

.btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary {
  background-color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  color: white;
}

.btn-secondary:hover {
  background-color: #545b62;
  border-color: #545b62;
}

.btn-secondary:active {
  background-color: #3d4246;
  border-color: #3d4246;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #000;
}

html {
  overflow-y: hidden;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.google-map * {
  border-style: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

@media (max-width: 1366px) {
  body ::before {
    content: "This website supports only desktop for now.";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    font-size: 3rem;
    z-index: 9999;
  }
}
html {
  font-family: "Inter", sans-serif;
}

.btn {
  border: 1px solid #000;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.project__layout__header {
  display: flex;
  background: #4793ff;
  font-size: 2rem;
  align-items: center;
  color: white;
  gap: 1rem;
  padding: 0.7rem 1rem;
}
.project__layout__header :first-child {
  cursor: pointer;
}
.project__layout__header h1 {
  font-size: 1.5rem;
}
.project__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background: #4793ff;
  align-items: center;
}
.project__navbar h1 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.project__layout .leftbar {
  min-height: 100vh;
  padding-bottom: 4rem;
  overflow-y: scroll;
  width: 18.75rem;
  background-color: #fff;
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.project__layout .leftbar .add-project {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project__layout .leftbar .add-project svg {
  cursor: pointer;
}
.project__layout .rightbar {
  min-height: 100vh;
  width: 28.3125rem;
  background-color: #fff;
  overflow-y: scroll;
  border-right: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  align-items: center;
  padding: 2rem 0;
  padding-bottom: 5rem;
}

.project {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background-color: #f3f4f8;
}
.project__layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.project__layout .project-upload {
  padding: 2.5rem 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.project__layout .project-upload h1 {
  font-size: 1.6rem;
  font-weight: 800;
}
.project__layout .project-upload button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  background: #e4e6ec;
  border: 1px solid #b8b2b2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 0.7rem;
  gap: 0.3125rem;
}
.project__layout .project-upload button:active {
  transform: translateY(2px);
}
.project__layout .project-upload button svg {
  font-size: 1rem;
}
.project__layout .project-list {
  display: flex;
  padding: 0 4rem;
  gap: 3rem;
  flex-wrap: wrap;
}
.project__layout-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.project__layout__container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.project__layout__container .bar {
  display: flex;
}
.project__layout__container .bar button {
  width: 50%;
  height: 2.3125rem;
  border-radius: 0.875rem 0.875rem 0rem 0rem;
  background-color: #d3d6de;
  outline: none;
  cursor: pointer;
}
.project__layout__container .bar button:nth-child(1).active {
  background-color: #4793ff;
  color: #fff;
}
.project__layout__container .bar button:nth-child(2).active {
  color: #fff;
  background-color: #8779f7;
}
.project__layout__container .content {
  width: 63.0625rem;
  height: 100%;
  background: #ffffff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #d9d9d9;
  position: relative;
}
.project__layout__container .content .save-and-analyze {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2.25rem;
  right: 2.25rem;
  gap: 0.25rem;
  background: rgb(239, 237, 237);
  border-radius: 0.625rem;
  font-size: 0.875rem;
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
}
.project__layout__container .content textarea {
  resize: none;
  width: 100%;
  height: 100%;
  padding-top: 5.375rem;
  padding-left: 7.125rem;
  padding-right: 7.125rem;
  outline: none;
  font-size: 1.125rem;
}

.project-document {
  position: relative;
  display: flex;
  flex-direction: column;
}
.project-document-wrap {
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.project-document-wrap .document-toggle {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  cursor: pointer;
}

.project-page {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  padding-left: 2.875rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  gap: 0.3125rem;
  cursor: pointer;
}
.project-page.active {
  background: #dcecff;
}
.project-page:hover {
  border-top: 1px solid #4793ff;
  border-bottom: 1px solid #4793ff;
}
.project-page-wrap {
  padding-top: 0.625rem;
}
.project-page-wrap .page-name {
  display: flex;
  gap: 0.3125rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.project-card .project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 12rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 1366px) {
  .project-card .project-image {
    font-size: 8rem;
  }
}
@media (max-width: 768px) {
  .project-card .project-image {
    font-size: 6rem;
  }
}
@media (max-width: 360px) {
  .project-card .project-image {
    font-size: 4rem;
  }
}
.project-card .project-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.project-card .project-info h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.project-card .project-info p {
  font-size: 0.8rem;
  font-weight: 400;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  z-index: 999;
  flex-direction: column;
}
.details-modal .details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;
  z-index: 999;
  cursor: pointer;
}
.details-modal .details-modal-close svg {
  display: block;
}
.details-modal .details-modal-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
}
.details-modal .details-modal-title h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
.details-modal .details-modal-content {
  border-top: 1px solid #e0e0e0;
  padding: 2em;
  pointer-events: all;
  overflow: auto;
}
.details-modal .details-modal-content input {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}

.details-modal-overlay {
  pointer-events: none;
  background: rgba(15, 23, 42, 0.8);
  position: fixed;
  opacity: 0.3;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.modal-delete {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.modal-buttons {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  padding: 0rem 2rem;
  padding-bottom: 1.5rem;
  pointer-events: all;
}
.modal-buttons button {
  all: unset;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.modal-buttons button:nth-of-type(2) {
  background: #4793ff;
  border-radius: 1.25rem;
  color: white;
}

.simple-menu {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}
.simple-menu-item {
  cursor: pointer;
}

.identify-box {
  width: 14.551875rem;
  height: 15.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: white;
  color: #575656;
  border-radius: 14px;
}
.identify-box > .icon {
  font-size: 3rem;
}
.identify-box > .title {
  font-size: 0.875rem;
}
.identify-box > .amount {
  font-size: 4rem;
}
.identify-box > .feedback {
  font-size: 1rem;
}
.identify-box.highlight {
  color: white;
  background: radial-gradient(140.94% 140.94% at 50% 100%, #5a7cfb 0%, rgba(45, 89, 255, 0.322207) 67.78%, rgba(90, 124, 251, 0) 100%);
  filter: drop-shadow(43px 73px 34px rgba(0, 0, 0, 0.01)) drop-shadow(24px 41px 29px rgba(0, 0, 0, 0.02)) drop-shadow(11px 18px 21px rgba(0, 0, 0, 0.04)) drop-shadow(3px 5px 12px rgba(0, 0, 0, 0.04)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.05));
}
.identify-box.emphasize {
  color: #4793ff;
}

.identify-feedback {
  width: 836.02px;
  height: 80.77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.identify-feedback .badge {
  width: 0.5%;
  height: 100%;
}
.identify-feedback .badge.Positive {
  background-color: #48dcbf;
}
.identify-feedback .badge.Negative {
  background-color: #8779f7;
}
.identify-feedback .badge.Neutral {
  background-color: #68d2ff;
}
.identify-feedback .title {
  width: 8.5%;
  padding: 0.25rem 0;
  border-radius: 0.3125rem;
  font-size: 0.9rem;
  text-align: center;
}
.identify-feedback .title.positive-feedback {
  background-color: #dbf4e7;
}
.identify-feedback .title.negative-feedback {
  background-color: #e7dcff;
}
.identify-feedback .title.neutral-feedback {
  background-color: #dcecff;
}
.identify-feedback .type {
  padding: 0.25rem;
  border-radius: 0.3125rem;
}
.identify-feedback .type.UX {
  background-color: #63778f;
  color: white;
}
.identify-feedback .type.UI {
  background-color: #f0f2f4;
  color: #44556a;
}
.identify-feedback .text {
  width: 82%;
}

.suggestion-card {
  display: flex;
  width: 80%;
  flex-direction: column;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
}
.suggestion-card .problem {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.4375rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.suggestion-card .problem h4 {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}
.suggestion-card .problem p {
  font-size: 1rem;
  margin-bottom: 0.4375rem;
}
.suggestion-card .problem .badges {
  display: flex;
  gap: 0.3125rem;
  align-self: flex-end;
}
.suggestion-card .problem .badges .badge {
  border-radius: 0.3125rem;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggestion-card .problem .badges .badge.Positive {
  background-color: #dbf4e7;
}
.suggestion-card .problem .badges .badge.Negative {
  background-color: #e7dcff;
}
.suggestion-card .problem .badges .badge.Neutral {
  background-color: #dcecff;
}
.suggestion-card .problem .badges .type {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  font-weight: 500;
}
.suggestion-card .problem .badges .type.UX {
  background-color: #63778f;
  color: white;
}
.suggestion-card .problem .badges .type.UI {
  background-color: #f0f2f4;
  color: #44556a;
}
.suggestion-card .suggestion {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.4375rem;
}
.suggestion-card .suggestion h4 {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}
.suggestion-card .suggestion p {
  font-size: 1rem;
  margin-bottom: 0.4375rem;
}
.suggestion-card .suggestion ol {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  list-style: decimal;
}
.suggestion-card .suggestion ol li {
  margin-bottom: 0.3125rem;
}

.dropdown {
  --dropdown-highlight: dodgerblue;
  --dropdown-width: 10rem;
  --dropdown-background: white;
  --dropdown-color: black;
  position: relative;
  padding: 0;
  margin-right: 1em;
  border: none;
  user-select: none;
}
.dropdown a.button {
  width: 1.5625rem;
  height: 1.5625rem;
  font-size: 1.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus a.button {
  border: 2px solid white;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  position: absolute;
  padding: 1rem 0;
  width: var(--dropdown-width);
  left: 50%;
  margin-left: calc(var(--dropdown-width) / 2 * -1);
  box-sizing: border-box;
  z-index: 2;
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
}

.dropdown ul li {
  padding: 0;
  margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
}

/* Dropdown triangle */
.dropdown ul::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
}

/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
  background: #f3f4f8;
}
.home-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background: #fff;
}
.home-nav h4 {
  color: #4793ff;
  font-size: 2rem;
  font-weight: 600;
}
.home-nav > div {
  display: flex;
  gap: 1.25rem;
}
.home-nav > div button {
  color: #4793ff;
  border: 1px solid #4793ff;
  border-radius: 2.5rem;
  padding: 0.3rem 1.3rem;
  outline: none;
  cursor: pointer;
  background: white;
}
.home-nav > div button:hover {
  background: rgba(71, 147, 255, 0.1);
}
.home-hero {
  display: flex;
}
.home-hero-image {
  display: flex;
  width: 100%;
  height: 50rem;
  position: relative;
}
.home-hero-image img {
  position: absolute;
}
.home-hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.home-hero-content > h1 {
  color: #4793ff;
  font-weight: 800;
  font-size: 5rem;
}
.home-hero-content > .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.home-hero-content > .section > .head {
  color: #4793ff;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.home-hero-content > .section > .head img {
  width: 50%;
  height: 80%;
  object-fit: contain;
}
.home-hero-content > .section > .head > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  width: 50%;
}
.home-hero-content > .section > .head > div h4 {
  font-size: 2rem;
  font-weight: 700;
}
.home-hero-content > .section > .head > div p {
  font-size: 0.87rem;
}
.home-hero-content > .section > .main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.home-features {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 12rem;
}
.home-features > h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.home-features .grid {
  display: flex;
  width: 100%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.home-features .grid .feature-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 16%;
}
.home-features .grid .feature-box .image {
  width: 150px;
  height: 150px;
  padding: 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-features .grid .feature-box h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
.home-features .grid .feature-box p {
  text-align: center;
  font-size: 0.9rem;
}
.home-how-it-works {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 3rem;
}
.home-how-it-works > .image {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home-how-it-works > .image img {
  object-fit: contain;
}
.home-how-it-works-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.125rem;
}
.home-how-it-works-wrap > .box {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.3125rem;
  background: #ffffff;
  box-shadow: 5px 10px 20px #dcdfe9;
  border-radius: 10px;
  width: 45%;
}
.home-how-it-works-wrap > .box h4 {
  font-size: 1rem;
}
.home-how-it-works-wrap > .box p {
  font-size: 0.8rem;
}
.home-get-started {
  background: #7498fb;
  display: flex;
  justify-content: center;
  padding: 4rem 3rem;
  gap: 4rem;
}
.home-get-started .text {
  color: white;
  display: flex;
  width: 25%;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}
.home-get-started .text h4 {
  font-size: 1.2rem;
}
.home-get-started .text p {
  font-size: 1rem;
}
.home-get-started .text button {
  cursor: pointer;
  background: white;
  color: #7498fb;
  padding: 0.5rem;
  border-radius: 2rem;
}
.home-get-started .image {
  display: flex;
  width: 40%;
}
.home-get-started .image img {
  object-fit: contain;
}

.analytic {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0rem 2rem;
  gap: 0;
  position: relative;
}
.analytic-header {
  display: flex;
  height: 500px;
}
.analytic-header-chart {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.analytic-header-chart h3 {
  position: absolute;
  top: 45px;
  left: 35px;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 999;
}
.analytic-header-feedback {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  padding: 0 2rem;
  padding-bottom: 2.5rem;
}
.analytic-header-feedback h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.analytic-header-feedback > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.analytic-header-feedback > div h4 {
  width: 10%;
  font-size: 1.4rem;
}
.analytic-header-feedback > div .bar {
  display: flex;
  width: 82%;
  height: 30px;
}
.analytic-header-feedback > div .bar .positive {
  background: #48dcbf;
}
.analytic-header-feedback > div .bar .negative {
  background: #8779f7;
}
.analytic-header-feedback > div .bar .neutral {
  background: #94cef8;
}
.analytic-header-feedback .legend {
  display: flex;
  flex-direction: column;
}
.analytic-header-feedback .legend .row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2rem;
}
.analytic-header-feedback .legend .row .badge {
  width: 20%;
  text-align: center;
}
.analytic-header-feedback .legend .row .col {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}
.analytic-header-feedback .legend .badge {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  font-size: 0.9rem;
}
.analytic-header-feedback .legend .badge.Positive {
  background-color: #dbf4e7;
}
.analytic-header-feedback .legend .badge.Negative {
  background-color: #e7dcff;
}
.analytic-header-feedback .legend .badge.Neutral {
  background-color: #dcecff;
}
.analytic-header-feedback .legend .type {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  font-weight: 500;
}
.analytic-header-feedback .legend .type.UX {
  background-color: #63778f;
  color: white;
}
.analytic-header-feedback .legend .type.UI {
  background-color: #f0f2f4;
  color: #44556a;
}
.analytic-identify-group {
  padding: 2rem 2rem;
  border-radius: 1.25rem;
  background-color: #f6f7fa;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.analytic-identify-group-box {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}
.analytic-identify-group-feedback {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=global.css.map */
