.project-page {
  display: flex;
  justify-content: space-between;
  height: rem(32px);
  align-items: center;
  padding-left: rem(46px);
  padding-right: rem(16px);
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  gap: rem(5px);
  cursor: pointer;
  &.active {
    background: #dcecff;
  }
  &:hover {
    border-top: 1px solid #4793ff;
    border-bottom: 1px solid #4793ff;
  }
  &-wrap {
    padding-top: rem(10px);
    .page-name {
      display: flex;
      gap: rem(5px);
    }
  }
}
