.identify-feedback {
  width: 836.02px;
  height: 80.77px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  .badge {
    width: 0.5%;
    height: 100%;
    &.Positive {
      background-color: #48dcbf;
    }
    &.Negative {
      background-color: #8779f7;
    }
    &.Neutral {
      background-color: #68d2ff;
    }
  }
  .title {
    width: 8.5%;
    padding: 0.25rem 0;
    border-radius: rem(5px);
    font-size: 0.9rem;
    text-align: center;
    &.positive-feedback {
      background-color: #dbf4e7;
    }
    &.negative-feedback {
      background-color: #e7dcff;
    }
    &.neutral-feedback {
      background-color: #dcecff;
    }
  }
  .type {
    padding: 0.25rem;
    border-radius: rem(5px);
    &.UX {
      background-color: #63778f;
      color: white;
    }
    &.UI {
      background-color: #f0f2f4;
      color: #44556a;
    }
  }
  .text {
    width: 82%;
  }
}
