$primary-color: #4793ff;
$danger-color: rgb(225, 66, 66);
$success-color: rgb(23, 142, 33);

.color-edit {
  color: rgb(243, 87, 15);
}

.color-save {
}

.color-add {
  color: $primary-color;
}

.color-delete {
  color: rgb(225, 66, 66);
}

.color-success {
  color: rgb(23, 142, 33);
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

@import "./buttons";
